{% extends 'manager/base.html' %}
{% block title %}New Category{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        {% if categories %}
        <div class="col-sm-12">
            <h3>Transaction Categories</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in categories %}
                        <tr>
                            <td>{{ cat.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add Category</h3>
                    {% if error_message %}
                        <p class="error_message">{{ error_message }}</p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'manager/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}











