{% extends 'manager/base.html' %}

{% block body %}
<div class="albums-container container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <h2>{{ user.username }}'s Transactions</h2>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'manager:add_transaction' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Transaction
                </button>
            </a>
        </div>
        {% if transactions %}
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
		            {% for trans in transactions %}
		            	<tr>
		            		<td>{{ trans.name }}</td>
		            		<td>$ {{ trans.value }}</td>
                            <td>{{ trans.category }}</td>
		            	</tr>
		            {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}